CompileFlags:
  Add: [-Ivendor/libuv/include, -Ivendor/sqlite, -Wextra, -pedantic, -Werror,
        -Wall,  -Ibase, -std=gnu23, -D_XOPEN_SOURCE=700, -Ivendor/quickjs,
        -Ivendor/picohttpparser, -I.]

