[submodule "vendor/quickjs"]
	path = vendor/quickjs
	url = git@github.com:bellard/quickjs.git
[submodule "vendor/sqlite"]
	path = vendor/sqlite
	url = git@github.com:sqlite/sqlite.git
[submodule "vendor/postgres"]
	path = vendor/postgres
	url = git@github.com:postgres/postgres.git
[submodule "vendor/stc"]
	path = vendor/stc
	url = git@github.com:stclib/STC.git
[submodule "vendor/picohttpparser"]
	path = vendor/picohttpparser
	url = git@github.com:h2o/picohttpparser.git
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = git@github.com:libuv/libuv.git
